[Unit]
Description=jukebox server (lyrionmusicserver)
PartOf=jukebox-pod.service

[Container]
ContainerName=%N
Image={{ jukebox_server_image }}
AutoUpdate=registry

Pod=jukebox.pod

Volume=jukebox-server-config.volume:/config
Volume=jukebox-server-music.volume:/music
Volume=jukebox-server-playlist.volume:/playlist

Environment=TZ=Europe/Berlin
