[Unit]
Description=paperless-ngx gotenberg document converter
PartOf=paperless-ngx-pod.service

[Container]
ContainerName=%N
Image={{ paperless_gotenberg_image }}
AutoUpdate=registry

Pod=paperless-ngx.pod

# Disable Chromium routes (not needed for paperless-ngx, saves memory)
Exec=gotenberg --chromium-disable-javascript=true --chromium-allow-list=file:///tmp/.*
