[Unit]
Description=caddy web server / reverse proxy
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=caddy
Image={{ caddy_image }}
AutoUpdate=registry

Volume=caddy-data.volume:/data
Volume=caddy-config.volume:/config
Volume=caddy-etc.volume:/etc/caddy
Volume=/var/www/dashboard:/srv/dashboard:ro

PublishPort={{ caddy_listen_port }}:80/tcp
{% if caddy_domain %}
PublishPort={{ caddy_listen_port_https }}:443/tcp
{% endif %}

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
