[Unit]
Description=music-assistant server
PartOf=music-assistant-pod.service

[Container]
ContainerName=%N
Image={{ music_assistant_server_image }}
AutoUpdate=registry

Pod=music-assistant.pod

Volume=music-assistant-data.volume:/data

Environment=TZ=Europe/Berlin
Environment=LOG_LEVEL=info
