[Unit]
Description=paperless-ngx redis message broker
PartOf=paperless-ngx-pod.service

[Container]
ContainerName=%N
Image=docker.io/library/redis:7-alpine
AutoUpdate=registry

Pod=paperless-ngx.pod

Volume=paperless-redis-data.volume:/data

HealthCmd=redis-cli ping
HealthInterval=30s
HealthStartPeriod=30s
HealthRetries=3
