[Unit]
Description=jukebox player (squeezelite)
PartOf=jukebox-pod.service

[Container]
ContainerName=%N
Image=docker.io/giof71/squeezelite
AutoUpdate=registry

Pod=jukebox.pod

# ALSA access (adjust if needed)
AddDevice=/dev/snd
GroupAdd=keep-groups

Environment=PRESET=topping-D10s
#Environment=STARTUP_DELAY_SEC=10000
#Environment=SQUEEZELITE_LOG_CATEGORY_ALL=debug
