[Unit]
Description=entephoto web frontend
PartOf=entephoto-pod.service
After=entephoto-museum.service

[Container]
ContainerName=%N
Image={{ entephoto_web_image }}
AutoUpdate=registry

Pod=entephoto.pod

Environment=ENTE_API_ORIGIN={{ entephoto_api_url }}
Environment=ENTE_ALBUMS_ORIGIN={{ entephoto_albums_url }}
Environment=ENTE_PHOTOS_ORIGIN={{ entephoto_photos_url }}
